In [6]:
import pandas as pd

# Replace 'your_file.xlsx' with the path to your Excel file
# If your Excel file is in the same directory as your Python script, you can simply specify the filename
extra_data = 'extra data.xlsx'
sales_data = 'sales data.xlsx'

# Load data from Excel file into a DataFrame
extra_data = pd.read_excel(extra_data)
sales_data = pd.read_excel(sales_data)

In [15]:
extra_data.head()

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id,refund
0,Sweden,17524.02,14122.61,2020-12-02 00:00:00,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,7964
1,France,64827.80,56043.63,1/20/2019,Appliances,Gislason-Stanton,Othello Bowes,Maighdiln Upcraft,PC,62-3312495,4974
2,Portugal,71620.08,62245.01,2019-05-02 00:00:00,Books,Schoen-Keeling,Celine Tumasian,Smitty Culverhouse,NaN,69-6259390,2809
3,Portugal,74532.02,59752.32,2020-02-04 00:00:00,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,4260
4,Portugal,78461.13,63537.82,2020-10-05 00:00:00,Appliances,Hessel-Stiedemann,Celine Tumasian,Smitty Culverhouse,Mobile,91-4126746,6038

In [18]:
# Filter data where device_type is equal to 'PC'
filtered_df = sales_data[sales_data ['device_type'] == 'PC']

In [23]:
# Filter data where device_type is equal to 'PC'
filtered_extra = extra_data[sales_data ['device_type'] == 'PC']

In [24]:
# Give me a python code for data concat

In [25]:
# Concatenating dataframes vertically
concatenated_df = pd.concat([filtered_df, filtered_extra], ignore_index=False)

# Displaying the concatenated dataframe
concatenated_df

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id,refund
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141,NaN
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546,NaN
5,Italy,127075.41,110924.13,9/24/2019,Clothing,Labadie and Sons,Piggy Roscrigg,Joshua Prevost,PC,57-6602854,NaN
6,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264,NaN
7,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264,NaN
8,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264,NaN
2,Portugal,71620.08,62245.01,2019-05-02 00:00:00,Books,Schoen-Keeling,Celine Tumasian,Smitty Culverhouse,NaN,69-6259390,2809.0
4,Portugal,78461.13,63537.82,2020-10-05 00:00:00,Appliances,Hessel-Stiedemann,Celine Tumasian,Smitty Culverhouse,Mobile,91-4126746,6038.0
5,Spain,84900.24,73701.90,7/14/2020,Clothing,"Farrell, Swaniawski and Crist",Emalia Dinse,Perri Aldersley,PC,60-6998932,7598.0
6,Finland,116563.40,92807.78,9/26/2019,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,2928.0
7,UK,156585.22,126599.15,8/30/2020,Accessories,"Hermiston, Simonis and Wisoky",Jessamine Apark,Winny Agnolo,PC,64-5761908,9376.0
8,Spain,178763.42,146621.76,12/22/2019,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160,5153.0