In [12]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Specify the file path
excel_file = 'sales data.xlsx'

# Load the Excel file into a DataFrame
df = pd.read_excel(excel_file)

# Assuming you have already loaded your data into a DataFrame called df
# If not, you can load it using pd.read_excel(), pd.read_csv(), or another appropriate method

# Check for missing values
missing_values = df.isna().sum()

# Display missing values
print("Missing values in the data:")
print(missing_values)

# Display the head
df.head()

Missing values in the data:
country            0
order_value_EUR    5
cost               0
date               0
category           0
customer_name      0
sales_manager      0
sales_rep          0
device_type        5
order_id           0
dtype: int64

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

In [13]:
from sklearn.impute import SimpleImputer