In [5]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Specify the file path
excel_file = 'sales data.xlsx'

# Load the Excel file into a DataFrame
df = pd.read_excel(excel_file)

# Assuming you have already loaded your data into a DataFrame called df
# If not, you can load it using pd.read_excel(), pd.read_csv(), or another appropriate method

# Check for missing values
missing_values = df.isna().sum()

# Display missing values
print("Missing values in the data:")
print(missing_values)

# Display the head
df.head()

Missing values in the data:
country            0
order_value_EUR    5
cost               0
date               0
category           0
customer_name      0
sales_manager      0
sales_rep          0
device_type        5
order_id           0
dtype: int64

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

In [6]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Specify the file path
excel_file = 'sales data.xlsx'

# Load the Excel file into a DataFrame
df = pd.read_excel(excel_file)

# Assuming you have already loaded your data into a DataFrame called df
# If not, you can load it using pd.read_excel(), pd.read_csv(), or another appropriate method

# Check for missing values
missing_values = df.isna().sum()

# Display missing values
print("Missing values in the data:")
print(missing_values)

# Display the head
df.head()

Missing values in the data:
country            0
order_value_EUR    5
cost               0
date               0
category           0
customer_name      0
sales_manager      0
sales_rep          0
device_type        5
order_id           0
dtype: int64

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

In [8]:
# Assuming you have already loaded your data into a DataFrame called df
# If not, you can load it using pd.read_excel(), pd.read_csv(), or another appropriate method

# Specify the strategy for imputation (e.g., 'mean', 'median', 'most_frequent', etc.)
imputer = SimpleImputer(strategy='median')  # You can change the strategy as needed

# Fit the imputer to the data
imputer.fit(df)

# Impute missing values in the data
imputed_data = imputer.transform(df)

# Convert the imputed data back to a DataFrame (optional)
imputed_df = pd.DataFrame(imputed_data, columns=df.columns)

# Display the DataFrame with imputed values
print(imputed_df)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'Sweden'

In [12]:
# Assuming you have already loaded your data into a DataFrame called df
# If not, you can load it using pd.read_excel(), pd.read_csv(), or another appropriate method

# Define the strategy for imputation (e.g., 'mean', 'median', 'most_frequent', etc.)
imputer = SimpleImputer(strategy='most_frequent')  # You can change the strategy as needed

# Specify the columns with missing values that you want to impute
columns_with_missing_values = ['order_value_EUR', 'device_type']  # Replace with your column names

# Impute missing values in the specified columns
df[columns_with_missing_values] = imputer.fit_transform(df[columns_with_missing_values])

# Display the DataFrame with imputed values
print(df)

          country order_value_EUR       cost                 date  \
0          Sweden        98320.37   77722.25            8/23/2020
1          France        46296.26   40319.41            5/15/2020
2        Portugal       140337.34  115708.14  2020-04-09 00:00:00
3          France       203604.46  175344.16            6/26/2019
4              UK        63979.04   56032.84           10/22/2019
...           ...             ...        ...                  ...
996        France         69126.5    55902.6  2019-08-12 00:00:00
997        France       140943.88  120633.87            5/28/2020
998        France       124784.67  106853.11            5/22/2020
999       Germany        61968.26   50690.04           12/27/2020
1000  Netherlands        172453.1  145688.38            6/24/2020

         category                     customer_name    sales_manager  \
0           Games                    Konopelski LLC     Maxie Marrow
1           Games                        Wisoky Inc    Othello Bowes
2      Appliances                     Hegmann Group  Celine Tumasian
3     Electronics                   Kirlin and Sons    Othello Bowes
4           Games                    Schoen-Keeling  Jessamine Apark
...           ...                               ...              ...
996   Electronics     Farrell, Swaniawski and Crist    Othello Bowes
997    Appliances                  Armstrong-Little    Othello Bowes
998   Electronics  Swaniawski, Runolfsson and Green    Othello Bowes
999   Electronics                Romaguera-Dietrich  Rickard Doogood
1000     Outdoors                   Kirlin and Sons    Denice Amberg

                sales_rep device_type    order_id
0      Tarrah Castelletti      Tablet  70-0511466
1     Amelina Piscopiello      Tablet  77-3489084
2           Corene Shirer          PC  65-8218141
3            Crysta Halls      Mobile  29-5478106
4      Genevra Charrisson          PC  27-3437546
...                   ...         ...         ...
996        Avrit Chanders          PC  07-3201531
997        Avrit Chanders      Tablet  77-0650807
998           Ora Grennan      Tablet  44-2757396
999         Casie MacBain          PC  22-7259031
1000       Nero Harbisher          PC  60-6986682

[1001 rows x 10 columns]

In [13]:
df.isnull().sum()

country            0
order_value_EUR    0
cost               0
date               0
category           0
customer_name      0
sales_manager      0
sales_rep          0
device_type        0
order_id           0
dtype: int64