In [3]:
import pandas as pd

# Specify the file path
excel_file = 'sales data.xlsx'

# Load the Excel file into a DataFrame
df = pd.read_excel(excel_file)

In [4]:
# Remove duplicate rows based on 'Country'
df_no_duplicates = df.drop_duplicates(subset=['country'])

In [5]:
# Sort DataFrame by the 'Country' column in ascending order
df_sorted = df_no_duplicates.sort_values(by='country', ascending=True)

In [6]:
# Print the sorted data
df_sorted

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
5,Italy,127075.41,110924.13,9/24/2019,Clothing,Labadie and Sons,Piggy Roscrigg,Joshua Prevost,PC,57-6602854
9,Korea,99994324.23,324232.32,2035-07-10 00:00:00,Games,Kirlin and Sons,Celine Tumasian,Ayulisha Hughes,MAC,323-32432342
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

In [7]:
# Set sorting by column name
sorted_device_df = df.sort_values(by='device_type', ascending=True)

In [8]:
# Sorted table output
sorted_device_df

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
9,Korea,99994324.23,324232.32,2035-07-10 00:00:00,Games,Kirlin and Sons,Celine Tumasian,Ayulisha Hughes,MAC,323-32432342
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546
5,Italy,127075.41,110924.13,9/24/2019,Clothing,Labadie and Sons,Piggy Roscrigg,Joshua Prevost,PC,57-6602854
6,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
7,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
8,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084

In [9]:
## Instructions to chatGPT
## Give me a python code to filter dataset for the country Sweden

In [11]:
# Filter the dataset for the country Sweden
sweden_data = df[df['country'] == 'Sweden']

sweden_data

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
6,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
7,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
8,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264

In [14]:
# Filter the dataset for the device_type = PC & Category Clothing
filtered_device_clothing_data = df[(df['device_type'] == 'PC') & (df['category'] == 'Clothing')]

# Print the sorted data
filtered_device_clothing_data

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
5,Italy,127075.41,110924.13,9/24/2019,Clothing,Labadie and Sons,Piggy Roscrigg,Joshua Prevost,PC,57-6602854
6,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
7,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
8,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264

In [18]:
# Filter the dataset for the device_type = PC but exclude 'Italy'
filtered_device_country_data = df[(df['device_type'] == 'PC') & (df['country'] != 'Italy')]

# Print the sorted data
filtered_device_country_data

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546
6,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
7,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
8,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264

In [19]:
#Filter data exclude 'clothing' category
filtered_data_exclude_clothing = df[df['category'] !='Clothing']

# Display filtered data 
filtered_data_exclude_clothing

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546
9,Korea,99994324.23,324232.32,2035-07-10 00:00:00,Games,Kirlin and Sons,Celine Tumasian,Ayulisha Hughes,MAC,323-32432342